$primary-color: #47a7ff;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
}

.gray {
  color: rgba(0, 0, 0, 0.6);
}

img {
  max-width: 100%;
}

.icon {
  display: flex;
  width: 14px;
  height: 14px;
  align-items: center;
  cursor: pointer;
}

.workspace {
  position: relative;
  width: 100vw;
  height: 100vh;
  .react-draggable {
    position: absolute;
  }
}

header {
  height: 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  p {
    padding: 0 15px;
    color: #888888;
    flex: 1;
  }

  .groves-logo-container {
    background-color: $primary-color;
    padding: 0 10px 0 0;
    border-radius: 8px 0 0 8px;
    line-height: 100%;
    align-items: center;
    display: flex;
    flex-grow: 0;
    height: 100%;

    .groves-menu-button {
      appearance: none;
      border: none;
      background: none;
      padding: 0;
      margin: 0;
      outline: none;
    }

    .groves-dropdown {
      min-width: 200px;
      position: relative;
      display: inline-block;
      position: absolute;
      background-color: #f9f9f9;
      border: 1px solid #bdc3ca;
      top: 55px;
      border-radius: 10px;
      left: 0;
      box-shadow: 0px 8px 24px rgba(111, 123, 138, 0.2),
        0px 2px 4px rgba(111, 123, 138, 0.2),
        0px 0px 0px rgba(111, 123, 138, 0.1);
      z-index: 1;

      ul {
        display: block;
        margin: 15px;
        padding: 0;
        li {
          padding: 8px;
          display: block;

          a {
            text-decoration: none;
            color: #6f7b8a;
            padding: 5px 10px;
            background-color: white;
            background: linear-gradient(
                180deg,
                #ffffff 0%,
                rgba(255, 255, 255, 0) 100%
              ),
              #f5f8fa;
            border: 1px solid #bdc3ca;
            box-shadow: 0.25px 0.25px 2px rgba(111, 123, 138, 0.19);
            border-radius: 2px;
          }
        }
      }
    }

    * {
      display: inline-flex;
    }

    a {
      padding-right: 10px;
      color: #000;
      text-decoration: none;
    }
  }

  .grove-navigation {
    height: 100%;
    flex-grow: 2;
    display: flex;
    position: relative;

    .groves-dropdown {
      position: absolute;
      top: 46px;
      left: 0;
      right: 0;
      width: auto;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 400px;
      display: none;
      margin-top: 15px;
      flex-direction: column;
      margin-left: 0;
      padding-left: 0;

      &.open {
        display: flex;
      }

      li {
        padding: 0 15px;
        font-size: 100%;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #252525;
        margin-right: 0;
        width: 100%;
      }
    }

    input {
      border: 0;
      height: 100%;
      font-size: 100%;
      padding: 0;
      padding-left: 15px;
      flex: 1;
      outline: none;
      -webkit-appearance: none;
      border-radius: 0 10px 10px 0;
    }
  }
}

.panel {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #6ab8ff;
  backdrop-filter: blur(44px);
  z-index: 100;
  position: fixed;

  &--pin-left {
    flex: 1;
    width: 250px;
    align-self: flex-start;
    // TODO: figure out smarter way to structure markup and css for header panel vs.
    // all other panels. since header panel is unique, it might make sense to break
    // it out into its own component that inherits from my eventual work on a
    // StaticPanel component.
  }

  &--pin-right {
    flex: 1;
    width: 250px;
    align-self: flex-end;
  }

  &--pin-center {
    left: 15px;
    right: 15px;
  }

  &--pin-bottom {
    bottom: 15px;
  }

  &--nav {
    top: 15px;
    z-index: 999999;
  }

  &--nav--no-auth {
    top: 15px;
    left: 15px;
    width: auto;
    overflow: hidden;
    z-index: 999999;
  }

  &--wide {
    width: calc(100vw - 30px);
  }

  .panel-header {
    font-size: 87.5%;
    padding: 15px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #888888;
    text-transform: uppercase;
    display: flex;
    cursor: all-scroll;

    span {
      align-self: flex-start;
      flex: 1;
    }

    .icon--collapse {
      align-self: flex-end;
      position: relative;

      .static {
        position: absolute;
        left: calc(50% - 1px);
      }

      .rotator {
        position: absolute;
        top: calc(50% - 1px);
        transform-origin: 50%, 50%;
        transition: 0.3s all ease-in-out;
        left: calc(50% - 1px);
        &.vertical {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &.statusbar {
    width: fit-content;
    padding: 6px 12px;
    color: rgba(#000000, 0.6);
    font-size: 87.5%;
    background-color: rgba(0, 0, 0, 0.02);
    border-color: rgba(0, 0, 0, 0.2);

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        list-style: none;

        &:not(:last-child) {
          margin-right: 12px;
          padding-right: 12px;
          border-right: 1px solid rgba(#000000, 0.2);
        }
      }
    }
  }

  &.formationNavigator {
    ul {
      padding: 0;
      margin: 0;
      width: 100%;

      li {
        padding: 10px 15px;
        list-style: none;
        cursor: pointer;

        &:last-child {
          margin-bottom: 15px;
        }

        &:hover {
          font-style: italic;
        }

        &.active {
          background-color: $primary-color;
          color: white;
          font-weight: bold;
        }
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1 0 auto;

    ul {
      li {
        padding: 0;
        margin-right: 15px;
        display: inline-block;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.header {
  height: 45px;
}

.block.block--channel {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 315px;
  height: 315px;
  margin-bottom: 3em;
  text-decoration: none;
  color: rgb(75, 61, 103) !important;
  border-color: rgb(207, 203, 214);
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.125em;
  margin: auto;

  .icon-button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.block {
  // border: 1px solid rgb(207, 203, 214);
  box-sizing: border-box;
  position: relative;
  display: block;
  background-color: white;
  user-select: none;
  // width: 315px;
  // height: 315px;
  margin-bottom: 3em;
  text-decoration: none;
}

.block.block--text {
  overflow-y: scroll;
  border-color: rgb(207, 203, 214);
  font-family: "Times New Roman", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(88, 88, 88);
  height: 100%;
  width: 100%;

  .block--title {
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.25em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 0.75rem;
    line-height: 1.33;
    text-align: left;
    color: rgb(153, 153, 153);
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: center;

    .icon {
      position: relative;
      vertical-align: middle;
      box-sizing: border-box;
      margin-bottom: 0.125em;
      margin-left: 0.25em;
      display: inline-block;
      width: 1em;
      height: 1em;

      svg {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        fill: rgb(153, 153, 153);
      }
    }
  }

  p {
    margin: 0;
    padding-top: 0.65625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    position: relative;
  }
}

.block.block--link {
  a {
    text-decoration: none;
  }
}

.block.block--channel.open {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 315px;
  height: 315px;
  margin-bottom: 3em;
  text-decoration: none;
  // color: #24aa23 !important;
  // border-color: #24aa23;
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  border-width: 2px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  border-radius: 0.125em;
  margin: auto;
}

.block.block--channel.open a {
  text-decoration: none;
  color: #24aa23;
}

.block.block--channel a {
  text-decoration: none;
  color: #000;
}

.block.block--channel small {
  display: block;
}

.block.block--channel {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // border-width: 2px;
  // border-style: solid;
  // border-color: initial;
  // border-image: initial;
  border-radius: 0.125em;
  // color: rgb(23, 172, 16);
  // border-color: rgb(193, 233, 191);

  .block--title {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1.33;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  p {
    text-align: center;
    font-size: 0.8125rem;
    line-height: 1.33;
    margin-top: 0.65625em;
    margin-bottom: 0;
  }
}

.miller {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper {
  display: flex;
  position: relative;
  width: 10000px;
  left: 0px;
}

.finder {
  width: 100%;
  height: 100%;
  min-width: 200px;
  min-height: 150px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  overflow: scroll;

  .columns {
    width: 180px;
    min-width: 180px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #d1d1d1;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #d1d1d1;
      cursor: pointer;
      display: flex;

      > * {
        margin-left: 6px;
      }

      span {
        display: inline-block;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .select {
      background-color: #e6f7ff;
    }

    .disable {
      color: #999999;
      cursor: not-allowed;
    }

    .has-child {
      img {
        width: 22px;
        height: 22px;
        margin-top: 7px;
      }
      img:first-child {
      }
      img:last-child {
      }
    }
  }

  .iw-wrap {
    background-color: #fafafa;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    text-align: center;
  }

  .finder-button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
    vertical-align: top;
    display: table;
    .upload {
      width: 100%;
      height: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 8px;
      .upload-icon {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  .image-wrap {
    width: 100%;
    position: relative;
    .button-cancel {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 8px;
      left: 8px;
      border: 0;
      border-radius: 14px;
      color: #fff;
      background-color: rgb(255, 70, 70);
      width: 28px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.draggable-block-container {
  background: #ffffff;
  border: 1px solid #bdc3ca;
  color: #6f7b8a;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(111, 123, 138, 0.2), 0px 0px 0px #6f7b8a,
    0px 0px 0px rgba(111, 123, 138, 0.1);
  border-radius: 2px;
  transform: rotate(0deg);
  transition: 0.2s all ease;

  &.Channel,
  &.Text {
    width: 100%;
    height: 100%;
  }

  .nested-canvas {
    position: relative;
    overflow: hidden;
    height: calc(100% - 45px);
  }

  &:hover {
    transform: scale(1.02, 1.02);
  }

  &::after {
    top: 0;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
    box-shadow: 1px 4px 9px rgba(111, 123, 138, 0.2), 0px 0px 0px #6f7b8a,
      -2px 3px 0px rgba(111, 123, 138, 0.1);
    opacity: 0;
  }

  // &:hover::after {
  //   opacity: 1;
  // }

  &.isBeingDragged, &.selected.isBeingDragged {
    box-shadow: 0px 5.60708px 16.8212px rgba(111, 123, 138, 0.2),
      0px 1.40177px 2.80354px rgba(111, 123, 138, 0.2),
      0px 0px 0px rgba(111, 123, 138, 0.1);
    background: linear-gradient(
        0deg,
        rgba(71, 167, 255, 0.15),
        rgba(71, 167, 255, 0.15)
      ),
      rgba(255, 255, 255, 0.6);
    transform: scale(1.05, 1.05) rotate(-2deg);
    transition: 0.2s all ease-in-out;
  }

  &.selected {
    border: 2px solid #ffae64;
    color: #6f7b8a;
    box-sizing: content-box;
    .block {
      background: #ffffff;
      // border: 1px solid #bdc3ca;
      color: #6f7b8a;
      box-sizing: border-box;
    }
  }

  &:active {
    border: 2px solid #47a7ff;
        cursor: grabbing;
        // border: 1.5px solid #47a7ff;
        box-sizing: border-box;
        box-shadow: 0px 5.60708px 16.8212px rgba(111, 123, 138, 0.2),
          0px 1.40177px 2.80354px rgba(111, 123, 138, 0.2),
          0px 0px 0px rgba(111, 123, 138, 0.1);
        background: linear-gradient(
            0deg,
            rgba(71, 167, 255, 0.15),
            rgba(71, 167, 255, 0.15)
          ),
          rgba(255, 255, 255, 0.6);
        transform: scale(1.05, 1.05) rotate(-2deg);
        transition: 0.2s all ease-in-out;
  }

  .header {
    background: #f8fafc;
    border-bottom: 1px solid #d7dde4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    p {
      padding: 0;
      margin: 0;
    }

    button {
      cursor: pointer;
      width: 17px;
      height: 17px;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
    }

    .title {
      user-select: none;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: 500;
      padding: 0;
      margin: 0;
      line-height: 1;

      font-size: 14px;

      color: #6f7b8a;
    }
  }

  &.Image {
    div {
      justify-content: center;
    }
  }

  .block {
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin: 0;

    img,
    a {
      pointer-events: none;
    }

    .text {
      overflow-y: scroll;
      width: 100%;
      height: 100%;
      box-shadow: none;
    }

    .image {
      overflow-y: scroll;
      // width: unset;
      // height: unset;
      box-shadow: none;
    }

    &.block--expanded {
      overflow: hidden;
      display: block;
    }

    &:not(.block--expanded) {
      cursor: grab;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        transition: 0.2s all ease-in-out;
        box-shadow: 1px 4px 9px rgba(111, 123, 138, 0.2), 0px 0px 0px #6f7b8a,
          -2px 3px 0px rgba(111, 123, 138, 0.1);
        opacity: 0;
      }

      // &:hover::after {
      //   opacity: 1;
      // }


    }
  }

  &.selected {
    .block {
      box-sizing: content-box;
      color: #6f7b8a;
      .block {
        background: #ffffff;
        color: #6f7b8a;
        box-sizing: border-box;
      }
    }
  }

  p {
    font-family: Times;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px 10px;
    flex: 0 0 auto;

    &.title {
      padding: 15px 0 0 10px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  a {
    color: $primary-color;
  }

  img,
  a img {
    align-self: center;
    max-height: 100%;
  }
}

.newsletter-panel {
  z-index: 99999;
  position: relative;

  form {
    padding: 15px;
    width: 100%;
    position: relative;
  }

  label {
    display: block;
    font-size: 15px;
    padding-bottom: 8px;
  }

  p {
    padding: 0 15px;
    margin: 0;
    font-family: Times;
    font-size: 16px;
    color: #6f7b8a;
    line-height: 25px;
  }

  input {
    width: calc(100% - 40px);
    display: block;
    height: 32px;
    outline: 0;
    border: 1px solid #bdc3ca;
    border-radius: 2px;
    font-size: 16px;
    padding-left: 10px;
  }

  input[type="submit"] {
    border: none;
    background-color: $primary-color;
    font-size: 16px;
    outline: none;
    color: white;
    margin-top: 12px;
    padding: 18px;
    line-height: 0px;
    width: calc(100% - 30px);
    -webkit-appearance: none;
    cursor: pointer;
  }
}

.pointer {
  cursor: pointer;
}

.loading-screen {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.fullscreen {
    width: 100vw;
    height: 100vh;
  }

  p {
    padding-top: 1.5rem;
    color: #888888;
    text-align: center;
    font-size: 1.2rem;
  }
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: $primary-color;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.selection-panel {
  z-index: 10000;
  position: fixed;
  width: 300px;
  transition: all ease-in-out 0.1s;
  right: -315px;
  top: 75px;
  bottom: 15px;
  height: calc(100% - 90px);
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #d7dde4;
  box-shadow: 0px 1px 1px rgba(111, 123, 138, 0.2), 0px 0px 0px #6f7b8a,
    0px 0px 0px rgba(111, 123, 138, 0.1);
  backdrop-filter: blur(44px);
  border-radius: 5px;

  > .header {
    background: #f8fafc;
    border-bottom: 1px solid #d7dde4;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    button {
      cursor: pointer;
      width: 17px;
      height: 17px;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
      background-color: transparent;
    }
    .title {
      user-select: none;
      font-family: Arial, sans-serif;
      font-style: normal;
      font-weight: 500;

      font-size: 14px;

      color: #6f7b8a;
    }
  }

  .contents {
    height: 100%;
    overflow-y: scroll;
    padding: 15px;

    .section {
      padding-bottom: 30px;
      &__title {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 600;
        padding-bottom: 3px;
        font-size: 14px;
        line-height: 21px;
        color: #2c2d2e;
        border-bottom: 1px solid #d7dde4;
        margin-bottom: 15px;
      }

      p:not(:first-child) {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #6f7b8a;
      }
    }
  }
}

.react-transform-component {
  width: 100vw !important;
  height: 100vh !important;
}

button,
.button {
  text-decoration: none;
  color: #6f7b8a;
  padding: 5px 10px;
  background-color: white;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #f5f8fa;
  border: 1px solid #bdc3ca;
  box-shadow: 0.25px 0.25px 2px rgba(111, 123, 138, 0.19);
  border-radius: 2px;

  &:focus {
    background: #f1f4f6;
    border: 1px solid #8b959f;
    box-shadow: inset 2.25px -1.75px 1px rgba(111, 123, 138, 0.19),
      inset -2.75px -2.75px 1px rgba(111, 123, 138, 0.19),
      inset 0px 2.25px 1px rgba(111, 123, 138, 0.19);
    outline: none;
    border-radius: 2px;
  }
}

.icon-button {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: 0;
  box-shadow: none;
}

.grove-actions {
  height: 100%;
  border-left: 1px solid #bdc3ca;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    &.action {
      width: 28px;
      height: 28px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
}

.dropZoneModal {
  opacity: 0.5;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 100000;
  position: fixed;
  left: 0;
  top: 0;
}
.inline-combobox {
  border-top: 1px solid #bdc3ca;
  padding-top: 10px;
  margin-top: 5px;
  font-size: 14px;
  max-height: 150px;
  overflow: scroll;

  li {
    height: 26px;
    display: flex;
    align-items: center;
  }
}

// .draggable-block-container.isBeingDragged .block {
//   border: 1.5px solid #47a7ff;
// }

.canvas div {
  filter: blur(0);
}